

    img.logo {

display: block;
margin: auto;

    }

    .sample-text {
      font-family: 'Montserrat', sans-serif;
      margin: auto;
      max-width: 640px;
      text-align: center;
    }

    img.logo:hover {

      transform: scale(1.05);
      transition: .3s ease-in-out;

    }
